.list_bg {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}
.deshboard_nav {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
.deshboardText {
}
